.toggle-parent {
  container-type: size
}

.toggle-switch {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: #da1a31;
  transition: all .3s ease;
}

.toggle-switch:checked {
  background-color: #428bca;
}

.toggle-switch::before {
  position: relative;
  content: "off";
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: max(5cqw, 50px);
  cursor: pointer;
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all .3s ease;
}

.toggle-switch:hover::before {
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
}

.toggle-switch:checked:hover::before {
  box-shadow: 0 0 0px 8px rgba(236, 72, 153, .15)
}

.toggle-switch:checked{
content: "on";
}

.toggle-switch:checked:before {
  transform: translateX(calc(100cqw - max(5cqw, 50px)));
  border-color: rgba(236, 72, 153, 1);
  content: "on";
}
