{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block custom_head_js %}
{% include "horizon/_custom_head_js.html" %}
  <script src="{% static 'vendor/chart.umd.js' %}"></script>
  <script src="{% static 'vendor/htmx.js' %}"></script>
  <link rel="stylesheet" href="{% static 'components/time_chart/chart.css' %}"/>
  <link rel="stylesheet" href="{% static 'components/toggle-switch/toggle-switch.css' %}"/>
  <script src="{% static 'components/time_chart/chart.js' %}"></script>
{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title=_("Hypervisor Metrics") %}
{% endblock page_header %}

{% block main %}

  <div class="quota-dynamic">
    <form>
      <div class="container-fluid">
        <div class="toggle-parent col-sm-9"></div>
        <div class="row">
          <div class="toggle-parent col-sm-1" style="height: 25px;">
            <input name="auto_refresh" class="toggle-switch" type="checkbox"></input>
          </div>
          <div class="col-sm-2 pull-right" >
            <label class="control-label">Auto Update Interval</label>
            <select name="refersh_interval">
              <option value="5">5s</option>
              <option value="300">5m</option>
              <option value="900">15m</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <div hx-get="/api/metrics/hypervisor_summary" hx-swap="none" hx-trigger="every 5s" >
    <h2>Cloud Summary</h2>
    </div>
    <div class="col-sm-4 d3_quota_bar">
      <div><h3>CPU Utilization</h3></div>
      <script id="cpu_util_summary" type="application/json">
            {% autoescape off %}
            {
              "labels": ["Used", "Free"],
              "datasets": [
                {
                  "data": [58, 42],
                  "backgroundColor": [
                    "#428bca",
                    "#da1a31"
                  ]
                }
              ]
            }
            {% endautoescape %}
      </script>
      <time-chart class="time-chart" data_ref="#cpu_util_summary" type="doughnut"
        options='{"circumference": 180, "rotation": -90, "animation": false}'></time-chart>
    </div>
    <div class="col-sm-4 d3_quota_bar">
      <div><h3>RAM Utilization</h3></div>
      <script id="ram_util_summary" type="application/json">
            {% autoescape off %}
            {
              "labels": ["Used", "Free"],
              "datasets": [
                {
                  "data": [90,10],
                  "backgroundColor": [
                    "#428bca",
                    "#da1a31"
                  ]
                }
              ]
            }
            {% endautoescape %}
      </script>
      <time-chart class="time-chart" data_ref="#ram_util_summary" type="doughnut"
        options='{"circumference": 180, "rotation": -90, "animation": false}'></time-chart>
    </div>
    <div class="col-sm-4 d3_quota_bar">
      <div><h3>Disk Utilization</h3></div>
      <script id="disk_util_summary" type="application/json">
            {% autoescape off %}
            {
              "labels": ["Used", "Free"],
              "datasets": [
                {
                  "data": [20,80],
                  "backgroundColor": [
                    "#428bca",
                    "#da1a31"
                  ]
                }
              ]
            }
            {% endautoescape %}
      </script>
      <time-chart class="time-chart" data_ref="#disk_util_summary" type="doughnut"
        options='{"circumference": 180, "rotation": -90, "animation": false}'></time-chart>
    </div>
  </div>

  <div class="quota-dynamic">
    <div><h2>Hypervisor Summary<h2></div>
    <div class="table_wrapper">
      <table class="table table-striped table-condensed">
        <tr>
          <th>Hostname</th>
          <th>CPU</th>
          <th>RAM</th>
          <th>DISK</th>
        </tr>
        <tr>
          <script id="compute_0" type="application/json" hx-get='/api/metrics/placeholder_dataset/'
            htmx-target="#compute_0" hx-swap="innerHTML">
            {% autoescape off %}
            {{ metrics }}
            {% endautoescape %}
          </script>
          <td><h3><a>compute-0.cloud.domain<a></h3></td>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
          </td>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
          </td>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
          </td>
        </td>

        </tr>
        <tr>
          <script id="compute_1" type="application/json" hx-get='/api/metrics/placeholder_dataset/'
            htmx-target="#compute_1" hx-swap="innerHTML">
            {% autoescape off %}
            {{ metrics }}
            {% endautoescape %}
          </script>
          <td><h3><a>compute-1.cloud.domain<a></h3></td>
          <td><time-chart class="time-chart" data_ref="#compute_0" type="line"></time-chart></td>
          <td><time-chart class="time-chart" data_ref="#compute_0" type="line"></time-chart></td>
          <td><time-chart class="time-chart" data_ref="#compute_0" type="line"></time-chart></td>
        </tr>
      </table>
    </div>
  </div>
</div>

{% endblock %}
